%h2 Issues
%table{:border => "1"}
  %thead
    %tr
      %th ID
      %th DESCRIPTION
      %th Label Created
      %th ASSIGNEE
  %tbody
  - $issues.each do |issue|
    %tr
      %td
        %a{href: issue['html_url']}= issue['number']
      %td= issue['title']
      %td= issue['label_data']['created_at']
      - if issue['assignee']
        %td
          %img{ src: issue['assignee']['avatar_url'], height: 20, width: 20 }= issue['assignee']['login']
